{% extends 'base.html.twig' %}

{% block title %}
	Api Symfony Digital Business
{% endblock %}

{% block body %}

    <div class="container">
        <h1>Welcome to the Symfony API</h1>
        <p>This is a simple API built with Symfony.</p>
        <p>Use the links below to explore the API:</p>
    </div>

{% endblock %}
